*{
	margin: 0;
	padding: 0;
	font-family: Arial;
}

body{
	background: url(../Imagenes/fondo.jpg);
	background-repeat: no-repeat; background-attachment: fixed; 
	background-size: 100% 100%; background-position: center center;	
}

.divlogo{
	padding: 0;
}

.logo{
	width: 20%; 
	float: right;
	position: relative; right: 11%;
	margin-top: 0.1%;
}

.menu{
	width: 70%;
	height: 45px;
	background-color: #C4C4C4;
	position: relative; top: 90px; left: 15.1%;
	padding-top: 20px; 
	box-shadow: 2px 2px rgba(0,0,0,.1);
}

.menu li{
	display: inline;
	font-size: 20px;
	font-weight: bold;
}

.menu li a{
	color: #0068B0;
	padding: 15px;
	font-style: italic;
	text-decoration: none;
}

table {
	border: 2px solid black;
	position: relative; top: 130px; left: 14%;
	font-size: 20px;
}

.encabezado{
	font-size: 20px;
	font-weight: bold;
	border: 3px outset #C3C3C3;
	box-shadow: -1px -1px rgba(0,0,0,.1);
	position: relative; left: 40%; 
	background: #E1E1E1;
	width: 25%;
	text-align: center;	
}

.cursos, .descripcion{
	padding-bottom: 5px;
	border: 3px solid orange;
	border-collapse: collapse;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-top: 10px;
}

.cursos img, video{
	border: 3px solid orange;
	width: 99%
}

.cursos h2{
	font-size: 20px;
	text-align: center;
}

.recurso{
	text-align: center;
	width: 20%;
}

.recurso1{
	text-align: center;
	width: 20%; 
}

.recurso2{
	text-align: center;
	width: 26%;
}